{% extends "base.html" %}

{% block title %}Tasks{% endblock %}

{% block content %}
<div class='task-box'>
    <h2>Your Tasks</h2>
    <form action="{{ url_for('tasks.add_task') }}" method="POST" class="task-form">
        <input type="text" name="title" placeholder="Enter task title" required>
        <button type="submit">Add Task</button>
    </form>
    {% if tasks %}
        <form method="POST" action="{{ url_for('tasks.update_tasks') }}">
            <button type="submit" class="btn btn-clear">Update Tasks</button>

        </form>
    <br>
    <table class="task-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Change</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.index }}</td>
                    <td>{{ task.title }}</td>
                    <td>
                        <span class="badge {{ task.status|lower }}">{{ task.status }}</span>
                    </td>
                    <td>
                        <form action="{{ url_for('tasks.toggle_status', task_id=task.id) }}" method="POST" style="display:inline;">
                        <button class="btn-small" type="submit">Next</button>                        
                    </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No tasks available. Add a new task above.</p>
    {% endif %}
</div>
{% endblock %}  
